@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');

:root{
    --color-black:#0000;
    --color-primary:#722FEC;
    --color-segundary:#EFE8FD;
    --color-gray:rgba(78, 78, 78, 0);


}


*{
    margin: 0;
    padding: 0;
    font-family:'Poppins', sans-serif ;
}

body{
    min-height: 100vh;
}
.bg{
    
    background-image: url(/assests/images/bg-index.jpg);
    background-repeat: no-repeat;
    background-size: 100%;   
}

/* geral */
.link-black{
    color: var(--color-black);
}
.active{
    background-color: var(--color-primary);
}
.border-radius-10px{
   border-radius: 10px;
}
.overflow-hidden{
    overflow: hidden;
}
.d-flex{
    display: flex;
}
.h-100{
    height: 100vh;
}
.t-center{
    text-align: center;
}
.w-100{
    width: 100%;
}
.w-300{
    width: 300px;
}
.w-400{
    width: 400px;
}
.p-10{
    padding: 10px;
}
.w-50{
    width: 50%;
}
.justify-content-space-between{
    justify-content: space-between;
}
.justify-content-space-around{
    justify-content: space-around;
}
.justify-content-center{
    justify-content: center;
}
.align-content-center{
    align-items: center;
}

.align-items-center{
    align-items: center;
}
.flex_column{
    flex-direction: column;
}
.wrap{
    flex-wrap: wrap;
}
.link{
    text-decoration: none;
}
.pt-50{
    padding-top: 50px;
}
.mr-20{
    margin-right: 20px;
}
.w-80{
    width: 80%;
}
.mt-30{
    margin: 40px;
}
.mr-auto{
    margin: 0 auto;
}
.mt-200{
    margin-top: 200px;
}
.mt-100{
    margin-top: 100px;
}
.mt-50{
    margin-top: 50px;
}
.mt-10{
    margin-top: 10px;
}

.w-30px{
    width: 30px;
}
.mb-10{
    margin-bottom: 10px;
}
.mb-50{
    margin-bottom: 50px;
}
.mr-50-rem{
    margin-right: 5rem;
}
.border-1px{
    border: 1px solid #000;
}
.fr{
    float: right;
}
.font-10{
    font-size: 10px;
}
.font-15{
    font-size: 15px;
}
.font-30{
    font-size: 30px;
}
.p-auto{
    padding: 0 auto;
}
.link-button-geral{
    padding: 10px 25px;
}
.link-color-1{
    color:#11D125;
}
.link-button-1{
    color: var(--color-segundary);
    background-color: var(--color-primary);
}
.link-button-1:hover{
    color: var(--color-primary);
    background-color: var(--color-segundary);
    transition-duration: 1s;
}
.link-button-2{
    color: var(--color-primary);
    background-color: var(--color-segundary);
}
.link-button-2:hover{
    color: var(--color-segundary);
    background-color: var(--color-primary);
    transition-duration: 1s;
}
/* login */

.input-style{
    border: solid 1px var(--color-primary);
    outline: 0;
    border-radius: 10px;
    height: 40px;
    padding: 0 10px;
    margin-bottom: 20px;
}
.submit{
    cursor: pointer;
    padding: 10px 50px;
    border: 0;
    margin-left: 85px;
}
/* restaura senha */

.restore-senha-main{
    background-color:#DFD0FB ;
    height: 459px;
    max-width:700px ;
}
.restore-senha-main h1{
    font-size: 25px;
    font-weight: 500;
}
.restore-senha-main h1, p{
    margin-top: 50px;
    margin-left: 30px;
}

/* Dashboard */
.arrow-horizontal{
    width: 12px;
    margin-right: 20px;
    display: none;
    transition-duration: 1s;
}
.nav-principal-vertical{
    background-color: rgba(144, 91, 240, 0.7);
    width: 80px;
    transition-duration: 1s;
}
.nav-principal-vertical:hover .nav-text{
    width: 150px;
    transition-duration: 1s;
    display: block;
} 
.nav-principal-vertical:hover .arrow-horizontal{
    display: block;
    transition-duration: 2s;
} 
.nav-principal-vertical:hover{
    width: 190px;
    transition-duration: 1s;
} 
.menu-hamburger{
    padding: 10px 0;
    cursor: pointer;
    background-color: #8044EE;
    
}
.menu-hamburger span{
    height: 3px;
    width: 40px;
    margin: 3px;
    margin-left: 10px;
    background-color: rgb(255, 255, 255);
}
.nav-ul:hover{
    background-color: #8044EE;
    transition-duration: 1.5s;
}
.nav-ul-li{
    list-style: none;
    margin-top: 50px;
    margin-left: 10px;
}
.nav-ul-link{
    padding: 10px 0;
}
.nav-text{
    padding: 10px;
    color: #ffffff;
    display: none;
}
footer{
    text-align: center;
}
.link-don{
    margin-top: 150px;
    margin-left: 20px;
    font-size: 0.8rem;
}
.link-don:hover{
    text-decoration: underline;
}

/* sign-up */
.obg{
    font-size: 20px;
    color: #ff0000;
}
.ddd{
    width: 50px;
}
.telefone{
    width: 700px;
}
.card-phone{
    padding-left: 60px;
}
.form-signup{
    padding: 10px;
    max-width: 700px;
    border: 1px solid #ccc;
}

/* empresa */
.empresa-title{
    font-size: 2rem;
    font-weight: 100;
}
.form-empresa{
  width: 500px;
}
.div-action{
    padding-top: 100px;
    padding-left: 10px;
}
.bt{
    margin-left: 8px;
}
.div-action button{
    cursor: pointer;
    border: 0;
    background-color: #ffffff;
}
.div-action button span{
    margin: 6px;
}
/* .logo-menu{
    display: none;
} */

/* .nav-principal-vertical:hover .logo-menu{
    display: block;
    margin-top: 20px;
} */
.menu-fix{
    width: 190px !important;
}
.nav-text-block{
    display: block !important;
    width: 150px;
}